# 데이터 입출력

## CSV 파일

In [1]:
import pandas as pd

In [2]:
f_path = './read_csv_sample.csv'

In [3]:
df1 = pd.read_csv(f_path)

In [4]:
df1

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [7]:
df2 = pd.read_csv(f_path, header=0)

In [8]:
df2

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [9]:
df3 = pd.read_csv(f_path, header=1)

In [11]:
df3

   0  1  4  7
0  1  2  5  8
1  2  3  6  9

In [12]:
df4 = pd.read_csv(f_path, header=None)
df4

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [13]:
df5 = pd.read_csv(f_path, index_col=False)
df5

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [14]:
df6 = pd.read_csv(f_path, index_col='c0')
df6

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [15]:
df7 = pd.read_csv(f_path, index_col='c2')
df7

    c0  c1  c3
c2
4    0   1   7
5    1   2   8
6    2   3   9

In [18]:
df = pd.read_csv(f_path)
df

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [19]:
name = ['A', 'B', 'C', 'D']

In [20]:
df8 = pd.read_csv(f_path, names=name)